/Miscellaneous project files/
/Peach main source code/lib/
/Peach main source code/backup/
/Peach main source code/Peach/lib/
/Peach main source code/WordMemo/lib/
/Peach main source code/richmemo/lib/
/Peach main source code/richmemo/ide/lib/
/Peach main source code/PythonPackage/lib/
/Peach launcher source code/lib/
/Peach launcher source code/backup/
/Peach/Peach.exe
/Peach/Peach/Peach.exe